.first-element{
    position: relative;
    width : 80%;
    height: 100px;
    left : 10%;
    border: 2px solid;

}

.other-element{
    position: relative;
    height: 50px;
    left : 10%;
    width: 26.66%;
}